.text-align-center {
    text-align: center;
}

#myBoard {
    max-width: 100%;
    height: auto;
    overflow: scroll;
}

.highlight-white {
    box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
    box-shadow: inset 0 0 3px 3px blue;
}